Pandas==2.1.2
PyPDF2
Transformers==4.34.0
langchain==0.0.309
llama-cpp-python==0.0.21
xformers==0.0.21
urllib3==1.26.6
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2
faiss-cpu==1.7.4
huggingface_hub==0.16.4
protobuf==3.20.0
accelerate==0.21.0
bitsandbytes==0.41.1
click==8.1.6
einops==0.7.0
charset-normalizer==2.0.4
epub2txt==0.1.6